//// Colores

// Color principal
$black: #000;
// Color botones
$rojo: #EF6461;
$celeste: #92DCE5;


//// Tipografias

// Font-family
$open-sans: 'Open Sans', sans-serif;
$monserrat: 'Montserrat', sans-serif;

// Font Weight
$f-bold: 700;
$f-regular: 400;
$f-medium: 500; 

// Font-Size
$x-large: 25px;
$large: 20px;
$medium: 18px;
$small: 16px;
$x-small: 14px; 

